{{ 'section-header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-header.js' | asset_url }}" defer></script>

<header class="wrapper">
  <nav class="nav-bar">
    <button id="hamburger-btn">{% render 'icon-hamburger' %}</button>

    <ul class="links">
      {% for link in linklists['main-menu'].links %}
        <li class="link-item">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>

    <h1 style="font-weight: 100">{{ shop.name | link_to: '/' }}</h1>

    <ul class="header-btns">
      <li>
        {% render 'icon-search' %}
      </li>

      <li>
        {% render 'icon-profile' %}
      </li>

      <li>
        {% render 'icon-heart' %}
      </li>

      <li class="cart-link">
        <a href="/cart">
          {% render 'icon-cart' %}
        </a>
        <div class="item-count">{{ cart.item_count }}</div>
      </li>
    </ul>
  </nav>
  <div class="mobile-links">
    <ul class="mobile-link-list">
      {% for link in linklists['main-menu'].links %}
        <li class="mobile-link-item">{{ link.title | link_to: link.url }}</li>
      {% endfor %}

      <button id="mobile-nav-close-btn">{% render 'icon-close' %}</button>
    </ul>
  </div>
</header>

{% schema %}
{
  "name": "Navbar",
  "presets": [
    {
      "name": "Navbar"
    }
  ]
}
{% endschema %}
